<section class="jobs">
  <div class="jobs__title main__content">
    <h2>Nossos Serviços</h2>
  </div>
  <div class="jobs__content main__content">
    <mat-card class="card">
      <img src="assets/img/tesoura.png" alt="Imagem de tesoura">
      <h3>Corte</h3>
      <p>Experimente um corte moderno e sofisticado que realça sua beleza única.
      </p>
    </mat-card>
    <mat-card class="card">
      <img src="assets/img/navalha.png" alt="Imagem de navalha">
      <h3>Barba</h3>
      <p>Experimente um corte moderno e sofisticado que realça sua beleza única.
      </p>
    </mat-card>
    <mat-card class="card">
      <img src="assets/img/pinça.png" alt="Imagem de pinça">
      <h3>Sobrancelha</h3>
      <p>Experimente um corte moderno e sofisticado que realça sua beleza única.
      </p>
    </mat-card>
    <mat-card class="card">
      <img src="assets/img/gravata.png" alt="Imagem de gravata">
      <h3>Dia Especial</h3>
      <p>Experimente um corte moderno e sofisticado que realça sua beleza única.
      </p>
    </mat-card>
    <mat-card class="card">
      <img src="assets/img/shampoo.png" alt="Imagem de shampoo">
      <h3>Progressiva</h3>
      <p>Experimente um corte moderno e sofisticado que realça sua beleza única.
      </p>
    </mat-card>
    <mat-card class="card">
      <img src="assets/img/maquina.png" alt="Imagem de maquina">
      <h3>Máquina</h3>
      <p>Experimente um corte moderno e sofisticado que realça sua beleza única.
      </p>
    </mat-card>

  </div>
</section>
