<section class="card" id="about">
</section>
<section class="about">
  <div class="about__title">
    <h2>Sobre Nós</h2>
    <p>Bem-vindo à Cortes de Elite, uma barbearia onde a tradição encontra a modernidade. Com um ano de história, nos
      tornamos o destino para homens que buscam mais do que um simples corte de cabelo. Nossos mestres barbeiros são
      verdadeiros artistas, combinando técnicas clássicas com as últimas tendências. Aqui, não apenas cortamos cabelo;
      esculpimos identidades. Celebre seu estilo na "Cortes de Elite" – onde a sua individualidade encontra a sua melhor
      expressão.</p>
  </div>
  <div class="about__img">
    <img src="assets/img/barbearia.jpg" alt="">
  </div>
</section>
<section class="card">
</section>