<section class="card" id="about">
</section>
<section class="about">
  <div class="about__title">
    <h2>Sobre Nós</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus quaerat ratione id accusantium a
      quisquam, libero labore voluptate. Expedita est cumque laborum omnis possimus dolorem iste porro tenetur tempore
      earum? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus quaerat ratione id accusantium a
      quisquam, libero labore voluptate. Expedita est cumque laborum omnis possimus dolorem iste porro tenetur tempore
      earum? </p>
  </div>
  <div class="about__img">
    <img src="assets/img/barbearia.jpg" alt="">
  </div>
</section>
<section class="card">
</section>