@media (max-width: 500px) {
  .about__title {
    flex: 1;
    padding: 2rem;
    width: 100%;
  }
  .about__title h2 {
    font-size: 2.5rem;
  }
  .about__title p {
    font-size: 1rem;
  }
  .about__img {
    display: none;
  }
}
